.grow-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
    margin-top: 10px;
}
  
.grow-title {
    margin-top: 10px;
    font-size: 32px;
    color: #003060;
}
  
.grow-text {
    font-size: 18px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 30px;
}
  
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
  
.image-wrapper {
    position: relative;
    margin: 0 15px;
    margin-bottom: 20px;
}
  
.test-image {
    width: 250px;
    height: 300px;
    border-radius: 25px;
    object-fit: cover;
}

/* Overlay common styles */
.image-overlay {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
    color: #003060;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Unique styles for each overlay */
.chores-overlay {
    margin-top: 27px;
    background-color: rgba(235, 226, 226, 0.8);
    color: #003060;
}

.nature-overlay {
    margin-top: -15px;
    background-color: rgba(213, 222, 213, 0.8);
    color: #003060;
}

.reading-overlay {
    margin-top: 15px;
    background-color: rgba(209, 209, 211, 0.8);
    color: #003060;
}

.commuting-overlay {
    margin-top: -3px;
    background-color: rgba(220, 220, 211, 0.8);
    color: #003060;
}
